[submodule "RLJO/FinalApps"]
	path = RLJO/FinalApps
	url = git@github.com:RLJO/FinalApps.git
	branch = app-om_hospital

[submodule "FinalApps"]
	path = FinalApps
	url = git@github.com:RLJO/FinalApps.git
	branch = app-om_hospital

[submodule "RLJO/FinalAp"]
	path = RLJO/FinalAp
	url = git@github.com:RLJO/FinalApps.git
	branch = app-accounting_pdf_reports

[submodule "RLJO/FinalAppsp"]
	path = RLJO/FinalAppsp
	url = git@github.com:RLJO/FinalApps.git
	branch = app-om_hospital

[submodule "RLJO/FinalApps88"]
	path = RLJO/FinalApps88
	url = git@github.com:RLJO/FinalApps.git
	branch = app-om_hospital

[submodule "RLJO/FinalApps77"]
	path = RLJO/FinalApps77
	url = git@github.com:RLJO/FinalApps.git
	branch = app-accounting_pdf_reports
